.list-enter-active,
.list-leace-active{
  transition: all 1s ease;
  position: absolute;
}
.list-enter-from,
.list-leave-to {
  opacity:0;
  transform: translateX(100px);
}
.fade-enter-active,
.fade-leace-active{
  transition: all 0.5s;
}
.fade-enter-from{
  opacity:0;
  transform: translateX(-30px);
  top: 0;
}
.fade-leave-to {
  opacity:0;
  transform: translateX(30px);
}